{{!-- dropdown --}}
<div class="d-flex justify-content-center" style="margin-top: 100px;">
  <form action="/filter" method="GET">
    <select name="category" onchange="submit()" style="width: 300px;">
      {{#each categories}}
      <option value="{{ this.name }}">{{ this.name }}</option>
      {{/each}}
    </select>
  </form>
</div>

{{!-- total amount --}}
<div class="d-flex justify-content-center" style="margin: 30px 0 15px 0">
  <div class="d-flex justify-content-center rounded" style="background-color: #C4E1FF;max-width: 100%;">
    <h4 style="margin: 20px 10px;">Total:</h4>
    <h1 style="margin: 20px">{{ totalAmount }}</h1>
  </div>
</div>

{{!-- expense list --}}
<ul class="list-group" style="margin-top: 75px;max-width: 30%; margin: auto;">
  {{#each records}}
  <li class="list-group-item m-1 rounded" style="background-color: cadetblue;">
    <div class="col d-flex justify-content-evenly align-items-center">
      <i class="{{ this.icon }} fa-2x p-2" style="color: 	#AD5A5A;"></i>
      <div class="col">
        <h4 style="display: inline;">{{ this.name }}</h4>
        <p style="margin-bottom: 0">{{ this.date }}</p>
      </div>
      <div class="col d-flex justify-content-center">
        <h5 style="margin-bottom: 0;">{{ this.amount }}</h5>
      </div>
      <div class="col d-flex justify-content-end">
        <a href="./records/{{ this._id }}" class="btn btn-success">Detail</a>
        <a href="./records/{{ this._id }}/edit" class="btn btn-secondary">Edit</a>
        <form action="./records/{{ this._id }}/delete" method="POST" style="display: inline;">
          <button class="btn btn-danger" type="submit">Delete</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>

{{!-- add new expense button --}}
<div class="col d-flex justify-content-center mt-3">
  <a class="btn btn-success px-5" href="/new">新增支出</a>
</div>